promtail:
  enabled: true

  config:
    snippets:
      scrapeConfigs: |
        - job_name: kubernetes-pods-airflow
          kubernetes_sd_configs:
            - role: pod
              namespaces:
                names:
                  - airflow

          pipeline_stages:
            - docker: {}
            - json:
                expressions:
                  chain: chain
                  job: job
                  level: level
            - labels:
                chain:
                job:
                level:

          relabel_configs:
            # ✅ 只采集logs-ingestion容器
            - source_labels: [__meta_kubernetes_pod_label_app]
              regex: logs-ingestion
              action: keep

            - source_labels: [__meta_kubernetes_namespace]
              target_label: namespace

            - source_labels: [__meta_kubernetes_pod_name]
              target_label: pod

            - source_labels: [__meta_kubernetes_container_name]
              target_label: container


