controller:
  replicaCount: 1

  ingressClassResource:
    name: nginx
    enabled: true
    default: true

  nodeSelector:
    ingress: nginx

  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

  service:
    type: NodePort
    nodePorts:
      http: 30080
      https: 30443

  publishService:
    enabled: true

  admissionWebhooks:
    enabled: true

defaultBackend:
  enabled: true
