executor: "KubernetesExecutor"

dags:
  persistence:
    enabled: false

  gitSync:
    enabled: true
    repo: ssh://git@ssh.github.com:443/shannon1989/data-platform-k8s.git
    branch: "master" # Can be changed to any branch, tag, or commit SHA
    rev: HEAD
    depth: 1
    wait: 60  # Sync every 60 seconds
    subPath: "dags" # Path within the repo to sync DAGs from
    sshKeySecret: "airflow-git-ssh-key-secret"

    knownHosts: |
      [ssh.github.com]:443 ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOMqqnkVzrm0SdG6UOoqKLsabgH5C9okWi0dh2l9GKJl



redis:
  enabled: false  # Celery backend not needed for KubernetesExecutor


postgresql:
  enabled: true

  image:
    repository: bitnamilegacy/postgresql
    tag: 16.1.0-debian-11-r15

  auth:
    enablePostgresUser: true
    username: "airflowuser"
    database: airflow
    existingSecret: airflow-postgresql-credentials

data:
  metadataConnection:
    user: airflowuser
    pass: airflow_db_password
    protocol: postgresql+psycopg2
    host: airflow-postgresql
    port: 5432
    db: airflow

triggerer:
  replicas: 1
  persistence:
    size: 5Gi

config:
  logging:
    remote_logging: "True"
    remote_base_log_folder: "s3://airflow-logs"
    remote_log_conn_id: "minio_conn"
    encrypt_s3_logs: "False"

# Passing logging config from ENV variables
env:
  - name: AIRFLOW__LOGGING__REMOTE_LOGGING
    value: "True"
  - name: AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER
    value: "s3://airflow-logs"
  - name: AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID
    value: "minio_conn"
  - name: AIRFLOW__LOGGING__ENCRYPT_S3_LOGS
    value: "False"
  - name: AWS_ACCESS_KEY_ID
    value: minioadmin
  - name: AWS_SECRET_ACCESS_KEY
    value: minioadmin
  - name: AWS_ENDPOINT_URL
    value: http://minio:9000
  - name: AWS_DEFAULT_REGION
    value: us-east-1

# for minikube environment with limited resources
api:
  workers: 1
  timeout: 120
  host: 0.0.0.0
  port: 8080
  startupProbe:
    enabled: false # disable startup probe to avoid timeout issues on low resource environments
    httpGet:
      path: /api/v2/version
      port: 8080
    initialDelaySeconds: 60
    periodSeconds: 10
    failureThreshold: 30
  resources:
    limits:
      cpu: "500m"
      memory: "512Mi"
    requests:
      cpu: "250m"
      memory: "256Mi"

scheduler:
  resources:
    requests:
      cpu: "250m"
      memory: "512Mi"
    limits:
      cpu: "500m"
      memory: "1Gi"
  startupProbe:
    initialDelaySeconds: 60
    periodSeconds: 10
    failureThreshold: 60
    timeoutSeconds: 60
