apiVersion: v1
kind: Service
metadata:
  name: metabase
spec:
  type: {{ .Values.service.type }}
  selector:
    app: metabase
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 3000
      nodePort: {{ .Values.service.nodePort }}
