grafana:
  readinessProbe:
    httpGet:
      path: /api/health
      port: grafana
    initialDelaySeconds: 15 # Wait longer before starting checks
    timeoutSeconds: 10
    failureThreshold: 5

  sidecar:
    datasources:
      enabled: true
      defaultDatasourceEnabled: true
  
  service:
    type: NodePort
    nodePort: 30000


prometheus:
  service:
    type: NodePort
    nodePort: 30090